<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Sorry, Some Error Occurred!</h1>
    <p>Maintenance Mode On</p>

<%- include('includes/end.ejs') %>